# Essential basic functionality

working with dates :
pd.date_range("day/month/year", periods=n)

In [7]:
import pandas as pd
import numpy as np

In [15]:
index = pd.date_range("13/1/2000", periods=5)
index

DatetimeIndex(['2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame({
    "one": {"I":1,"II":2,"III":3},
    "two": {"II":3.0,"I":1.0,"III":3.0}
})
df

     one  two
I      1  1.0
II     2  3.0
III    3  3.0

To view a small sample of a Series or DataFrame object, use the head() and tail() methods.
head(n) --> gives a small sample of n rows from begining
tail(n) --> gives a small sample of n rows from end 
if n is not mentioned then by default it is taken as 5