In [1]:
print("Hello\nWorld!") # print statement

Hello
World!

In [2]:
# print('Hello World!') comment

In [5]:
x = 12 # int
type(x)

int

In [7]:
x = 2.34 # float
type(x)

float

In [10]:
x = "hello world!" # string
type(x)

str

In [12]:
# type casting int to float
x = 2
float(x)

2.0

In [13]:
# type casting float to int
x = 2.3
int(x)

2

In [14]:
# type casting int to string
x = 2
str(x)

'2'

In [15]:
# type casting integerString to int 
x = "2"
int(x)

2

In [16]:
# type casting on integer string to int
x = "hello"
int(x) # error we cant convert

ValueError: invalid literal for int() with base 10: 'hello'

In [18]:
# type casting integer string to float
x = "23"
float(x)

23.5

In [19]:
# boolean value 
x = True # bool
type(x)

bool

In [20]:
str(x)

'True'

In [21]:
int(x)

1

In [23]:
float(x)

1.0

In [24]:
# boolean value 
x = False # bool
type(x)

bool

In [25]:
int(x)

0

In [26]:
float(x)

0.0

In [27]:
str(x)

'False'