# DATA STRUCTURES

import pandas first to get started

In [10]:
import pandas as pd

## SERIES

SERIES is 1D labelled array capable of holding any data type
(integers, strings, floating point numbers, Python objects, etc.)
The axis labels are collectively referred to as the index.
only one data type is allowed in series coloumn

### creation of series

The basic method to create a Series is to call:
s = pd.Series(data, index=index)
data :
    a python dictionary
    an nd array 
    a scalar value
The passed index is a list of axis labels. Thus, this separates into a few cases depending on what data is:

#### SERIES FROM ND array

if data is an ND array index must be the same length of data. if index is not specified it will be automatically created from range of 0 - (n-1)

In [12]:
s = pd.Series(["hema",'ranga',"ganga"],index=['a','b','c']) # index is specified
s

a     hema
b    ranga
c    ganga
dtype: object

In [13]:
s = pd.Series(["hema",'ranga',"ganga"]) # index is not specified
s

0     hema
1    ranga
2    ganga
dtype: object

#### SERIES FROM DICTIONARY

In [18]:
d = {"b":1,"c":2,"a":3} 
s = pd.Series(d,index=["a","b","c","d"]) # index is specified
s

a    3.0
b    1.0
c    2.0
d    NaN
dtype: float64

In [20]:
d = {"b":1,"c":2,"a":3} 
s = pd.Series(d) # index is not specified then keys are taken as indexes
s

b    1
c    2
a    3
dtype: int64

#### SERIES FROM SCALAR

if data is a scalar value an index must be provided
the value will be repeated to match no.of indexes

In [22]:
s = pd.Series(5,index=["a","b","c","d"])
s

a    5
b    5
c    5
d    5
dtype: int64

### SLICING & ACCESING ELEMENTS SERIES

accessing elements using iloc(n) --> n = ele position
slicing uses method .iloc(start:end) or .loc(startEle,endEle)
series is same as dictionary we can just access elements using axes label

In [50]:
s.iloc[[2, 1]] # accessing elements with indexes

2    3
1    2
dtype: int64

In [51]:
s.iloc[0:2]

0    1
1    2
dtype: int64

In [60]:
s.iloc[2]

3

In [63]:
s[1] # dict-like

2

if we try to access non index then it raises error
so to avoid we use .get(indexlabel) method

In [68]:
s[4]

KeyError: 4

In [72]:
s.get(2)

3

In [73]:
s.get(4) # won't raise error

check if the given is in label or in indexes we use "in" operator

In [65]:
1 in s

True

In [67]:
4 in s

False

### METHODS

1. mean
2. median
3. max
4. min
5. to_numpy

In [55]:
s = pd.Series([1,2,3,4])
s.mean()

2.5

In [56]:
s.median()

2.5

In [57]:
s.max()

4

In [58]:
s.min()

1

In [59]:
s.to_numpy()

array([1, 2, 3, 4], dtype=int64)

### slecting row with condition

In [53]:
s[s > s.median()] # selecting rows with ele > median

2    3
3    4
dtype: int64

### attributes

1. dtype

In [54]:
s.dtype

dtype('int64')

### mathematical operations on series

1. addition with constant
2. addition with other series
3. subtraction with constant
4. subtratction with other series
5. multiply with constant
6. multiply with other series

In [76]:
s+1 # adds 1 to all elements in series

0    2
1    3
2    4
3    5
dtype: int64

In [78]:
s+s # adds exactly equivalent sides so two series must be of same size

0    2
1    4
2    6
3    8
dtype: int64

In [80]:
s+pd.Series([1,2]) # as s and series created are of diffrent length so its showing nan after loest lentgh series

0    2.0
1    4.0
2    NaN
3    NaN
dtype: float64

In [82]:
s-1 # subtract 1 with all elements of s

0    0
1    1
2    2
3    3
dtype: int64

In [83]:
s-s

0    0
1    0
2    0
3    0
dtype: int64

 above all work same for both addition and division too

### NAME attribute of series

series also has a name attribute
The Series name can be assigned automatically in many cases, in particular, when selecting a single column from a DataFrame, the name will be assigned the column label.

In [85]:
s1 = pd.Series([1,2,3,4],name="roll.no")
s1

0    1
1    2
2    3
3    4
Name: roll.no, dtype: int64