# DATA STRUCTURES

import pandas first to get started

In [1]:
import pandas as pd

## DATA FRAMES

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types
Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

### Data frames using dict of dict

The resulting index will be the union of the indexes of the various Series.
If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict key

In [15]:
x = {
    "a" : {"a":1,"b":2,"c":3},
    "b" : {"f":2,"e":5},
    "c" : {"a":4,"e":1}
}
x['a']

{'a': 1, 'b': 2, 'c': 3}

above dictionary actually is processed like this when passed through DataFrame method
x = {
    "a" : pd.Series({"a":1,"b":2,"c":3}),
    "b" : pd.Series({"f":2,"e":5}),
    "c" : pd.Series({"a":4,"e":1})
}

In [22]:
df = pd.DataFrame(x,columns=[1,2,3,4,5]) # index specified
df # dont use like this as dictionary already specified the indexes and column names

Empty DataFrame
Columns: [1, 2, 3, 4, 5]
Index: []

In [24]:
df = pd.DataFrame(x) # no index specified
df # here columns and indexes are specified by dictionary it self

     a    b    c
a  1.0  NaN  4.0
b  2.0  NaN  NaN
c  3.0  NaN  NaN
f  NaN  2.0  NaN
e  NaN  5.0  1.0

The row and column labels can be accessed respectively by accessing the index and columns attributes:

In [25]:
df.index

Index(['a', 'b', 'c', 'f', 'e'], dtype='object')

In [26]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

## data frames using dict of lists

In [44]:
y = {
    "a": [1,2,3],
    "b": [4,5]
}
df1 = pd.DataFrame(y)

ValueError: All arrays must be of the same length

all arrays in dictionary must be of same length to convert into Dataframe

In [38]:
y = {
    "a": [1,2,3],
    "b": [4,5,6]
}
df1 = pd.DataFrame(y) # specifying without index
df1

   a  b
0  1  4
1  2  5
2  3  6

In [42]:
df1 = pd.DataFrame(y,index=['a','b','c']) # specifying index
df1 # index list len must be equal to no.of ele in col

   a  b
a  1  4
b  2  5
c  3  6

## dataframes usig dict of tuples

In [43]:
y1 = {
    "a" : (1,2,3),
    "b" : (4,5)
}
df2 = pd.DataFrame(y1)

ValueError: All arrays must be of the same length

always make sure the tuples are of same size else it shows above error

In [45]:
y1 = {
    "a" : (1,2,3),
    "b" : (4,5,6)
}
df2 = pd.DataFrame(y1)
df2

   a  b
0  1  4
1  2  5
2  3  6

## dataframs from list of dicts

In [46]:
y1 = [
    {"a":1,"b":2,"c":3},
    {"b":4,"d":5}
]
df2 = pd.DataFrame(y1)
df2

     a  b    c    d
0  1.0  2  3.0  NaN
1  NaN  4  NaN  5.0